h2 {
     font-family: Comic Sans MS;
  color: Pink;
  font-size: 60px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1px;
  background-color: black;
    
}

img {
     font-family: Comic Sans MS;
    display:block;
    margin: 0 auto;
    background-color: pink;
}

body, label{
     font-family: Comic Sans MS;
background-color:pink;    
color:black;
}

button, input{
    font-family: Comic Sans MS;
    background-color:Black;
    color:Pink;
}

